<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd" lang="en">
<head>
    <title th:text="|${titleName}|"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{/pdfform}" method="post" th:object="${dataList}">
    <th:block th:each="dataLabel,iterStat: *{dataList}">

        <th:block th:switch="${dataLabel.getTextType()}">

            <h1 th:case="title" style="text-align:center" th:text="|${dataLabel.getContent()}|"></h1>
            <h2 th:case="subtitle" style="text-align:left" th:text="|${dataLabel.getContent()}|"></h2>
            <p th:case="text" style="text-align:left" th:text="|${dataLabel.getContent()}|"></p>
            <p th:case="subtext" style="margin-left: 25px" th:text="|${dataLabel.getContent()}|"></p>

            <th:block th:case="field" >

                <label th:for="${dataLabel.getFieldName()}" th:text="|${dataLabel.getContent()}|"></label>
                <!--suppress HtmlFormInputWithoutLabel -->
                <input th:field="*{dataList[__${iterStat.index}__].fieldName}" type="text">
                <br>

            </th:block>

            <th:block th:case="date">

                <label th:for="${dataLabel.getFieldName()}" th:text="|${dataLabel.getContent()}|"></label>
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="date" th:field="*{dataList[__${iterStat.index}__].fieldName}">
                <br>

            </th:block>

            <th:block th:case="singleCheck" th:with="checkList = ${dataLabel.getCheckList()}">

                <h4 th:text="|${dataLabel.getTitle()}|"></h4>
                <th:block th:each="item,itemStat : ${checkList}">
                    <th:block th:if="${checkList[__${itemStat.index}__].extraField} == 'True'">
                        <br>
                    </th:block>

                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="radio" th:field="*{dataList[__${iterStat.index}__].valueList}" th:value="${item.getContent()}">
                    <label th:for="${item.getFieldName()}" th:text="|${item.getContent()}|"></label>

                    <th:block th:if="${checkList[__${itemStat.index}__].extraField} == 'True'">
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input th:field="*{dataList[__${itemStat.index}__].extraList}" type="text" >
                        <br>
                    </th:block>
                </th:block>
                <br>

            </th:block>

            <th:block th:case="multipleCheck" th:with="checkList = ${dataLabel.getCheckList()}">

                <h4 th:text="|${dataLabel.getTitle()}|"></h4>
                <th:block th:each="item,itemStat : ${checkList}">
                    <th:block th:if="${checkList[__${itemStat.index}__].extraField} == 'True'">
                        <br>
                    </th:block>

                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="checkbox" th:field="*{dataList[__${iterStat.index}__].valueList}" th:value="${item.getContent()}">
                    <label th:for="${item.getFieldName()}" th:text="|${item.getContent()}|"></label>

                    <th:block th:if="${checkList[__${itemStat.index}__].extraField} == 'True'">
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input th:field="*{dataList[__${itemStat.index}__].extraList}" type="text" >
                        <br>
                    </th:block>
                </th:block>
                <br>

            </th:block>

            <th:block th:case="sign">
                <h2 style="text-align:left" th:text="|${dataLabel.getContent()}|"></h2>
                <a th:href="@{/canvas}" th:target="_blank">
                    <button type="button"> Sign </button>
                </a>

            </th:block>

        </th:block>
    </th:block>

    <p>
        <input type="submit" value="Submit">
    </p>
</form>
</body>
</html>
