<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd" lang="en">
<head>
    <title th:text="|${name}|"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div th:with="idCounter = ${counter.get()}"></div>
<form action="">
    <th:block th:each="item : ${textContent}">
        <th:block th:each="name : ${item.names()}">
            <th:block th:switch="${name}" th:with="idCounter = ${counter.incrementAndGet()}">

                <h1 th:case="Title" style="text-align:center" th:text="|${item.get(name)}|"></h1>
                <h2 th:case="Subtitle" style="text-align:left" th:text="|${item.get(name)}|"></h2>
                <p th:case="Text" style="text-align:left" th:text="|${item.get(name)}|"></p>
                <p th:case="Subtext" style="margin-left: 15px" th:text="|${item.get(name)}|"></p>

                <th:block th:case="Field">
                    <label th:for="${idCounter}" th:text="|${item.get(name)}|"></label>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input name="fieldText ${idCounter}" th:id="${idCounter}" type="text" >
                    <br>
                </th:block>


                <th:block th:case="Date">
                    <label th:for="${idCounter}" th:text="|${item.get(name)}|"></label>
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <input type="date" name="Date ${idCounter}" th:id="|${idCounter}|">
                    <br>
                </th:block>

                <th:block th:case="SingleCheck">
                    <th:block th:each="checkItem,iterStat : ${item.get(name)}">

                        <th:block th:if="${iterStat.first}">
                            <h4 th:text="|${checkItem}|"></h4>
                        </th:block>

                        <th:block th:unless="${iterStat.first}" th:with="idCounter = ${counter.incrementAndGet()}">
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input type="radio" name="radio ${item.get(0)}" th:id="${idCounter}">
                            <label th:unless="${iterStat.first}" th:for="${idCounter}" th:text="|${checkItem}|"></label>
                        </th:block>

                    </th:block>
                    <br>
                </th:block>

                <th:block th:case="MultipleCheck">
                    <th:block th:each="checkItem,iterStat : ${item.get(name)}">

                        <th:block th:if="${iterStat.first}">
                            <h4 th:text="|${checkItem}|"></h4>
                        </th:block>

                        <th:block th:unless="${iterStat.first}" th:with="idCounter = ${counter.incrementAndGet()}">
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input name="checkbox ${item.get(0)}" th:id="${idCounter}" type="checkbox">
                            <label th:unless="${iterStat.first}" th:for="${idCounter}" th:text="|${checkItem}|"></label>
                        </th:block>
                    </th:block>
                    <br>
                </th:block>

                <th:block th:case="CheckField">
                    <th:block th:each="checkItem,iterStat : ${item.get(name)}">

                        <th:block th:if="${iterStat.first}" th:with="idCounter = ${counter.incrementAndGet()}">
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input name="checkbox ${item.get(0)}" th:id="${idCounter}" type="checkbox">
                            <label th:for="${idCounter}" th:text="|${checkItem}|"></label>
                        </th:block>

                        <th:block th:unless="${iterStat.first}" th:with="idCounter = ${counter.incrementAndGet()}">
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input name="fieldText ${item.get(0)}" th:id="${idCounter}" type="text">
                            <label th:for="${idCounter}" th:text="|${checkItem}|"></label>
                        </th:block>

                    </th:block>
                    <br>
                </th:block>

                <th:block th:case="Sign">

                    <p> Function Not implemented</p>

                </th:block>

            </th:block>
        </th:block>
    </th:block>
</form>
</body>
</html>